body
{
	background-image: url("http://4.bp.blogspot.com/-Lg41PZKOgDc/VC9GVpCAG7I/AAAAAAAAVyk/19TsSCY0Skg/s1600/433100-1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed
	font-family: Arial;
}
header 
{
	background-color: rgba(113, 39, 39, 0.5);
	border-radius: 11px;
	box-shadow: -3px 20px 24px 0px rgba(113, 39, 39, 0.5);
	font: normal 40px "", Monaco, monospace;
	margin: 0px auto;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-shadow: 2px 2px 4px #A3C1D4;
	width: 570px;
 }
h1
{
	margin-bottom: 10px;

}

#capicua
{
	position: relative;
	display: block; 
	margin: 0 auto;
	width: 90%;
	height: 200px;
}

.celda
{
	background-color: brown;
	border: 5px solid rgba(111, 51, 24, 0.86);
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 20px;


	border-style: solid;
	border-width: 0 25px 25px 25px;
	height: 40px;
	width: 30px;
	margin: 10px 20px 0px 0px;
}

.tringulo
{
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid black;
}

#slider
{

	position: absolute;
	top:200px;
	left: 50px;
	width: 200px;
	height: 50px

}

#rango
{
	width: 100%;
	cursor: pointer;
	

#texto
{
	font-size: 50px;
	font-weight: bold;
}